@media screen and (max-width: 1120px){
	html{
		font-size: 90%;
	}
	.shares__block{
		display: block;
		
		
	}
	.shares__item{
		padding-bottom: 280px;
	}
	.shares__item:last-child{
	padding-bottom: 0;
	}
}

@media screen and (max-width: 1034px){
	html{
		font-size: 85%;
	}
	
}
@media screen and (max-width: 990px){
	.footer__section1{
		display: block;
		margin: 0 auto;
	}
	.footer__menu-item:last-child{
	display: block;
	}
	.footer__social{
		margin-top: 50px;
	}
	.footer__social-icon{
		margin-left: 0;
	}
	.footer__section2{
		margin-top: 150px;
	}
}
@media screen and (max-width: 600px){
	html{
		font-size: 83%;
	}
	
}






















